.mainLogo{
  width: 3rem;
  border-radius: 50%;
}
.navbar{
  background-color: #ddd;
  width: 100%;
}
.profile-btn{
  border-radius: 50% !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Login Form Style */

.login-container, .register-container {
  height: 100vh;
  width: 100vw;
  background-color: #50B8E7;
  color: rgb(51, 48, 48);
  display: flex;
  justify-content: center;
  align-items: start;
}

.formstart {
  width: 100%;
  max-width: 350px;
  min-width: 200px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  justify-content: space-around;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.formstart form{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  margin-top:1.3rem;
}
.form-group{
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
.form-group input {
  outline: none;
  padding: 0.5rem;
  padding-left: 0.8rem;
  border: none;
  border-radius: 0.3rem;
  width: 100%;
}

.form-group input:focus {
  outline: 2px solid #8d8484;
}


.formstart button{
  border: none;
  align-self: center;
  margin-top: 1rem;
  width: 8rem; 
  padding: 0.4rem;
  border-radius: 0.7rem;
  background-color: #3a7c35;
  color: white;
  font-weight: 600;
  transition: 0.2s ease-in-out;
}
.formstart button:hover{
  transform: scale(1.03);
  width: 9rem;
}


/* Chat Page */

.menuDiv{
  background: #84cdee;
  border-radius: 0.5rem;
  min-width: 3rem;
  max-width: 4rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  .menuBtn{
    display: none;
  }
  .menuDivContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
  }
}
.sideUser{
  border-radius: 0.3rem;
  padding: 0.2rem;
  transition: 0.2s ease-in-out;
}
.sideUser-details-arrow {
  transition: transform 0.3s ease-in-out;
}

.chatpage{
  background-color: #50B8E7;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}
.chats-field{
  width: 100%;
}

.main-window{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 4px;
}
.chatcontact {
  max-width: 20rem;
  min-width: 18rem;
  flex-grow: 1;
  border-radius: 0.5rem;
  background: #84cdee;
}


.profile{
  width: 2.4rem;
  height: 2.4rem;
  border: .1rem solid rgb(255, 255, 255);
  border-radius: 50%;
  cursor: pointer;
}
.chatcontactnav{
  border: 1px solid rgb(69, 60, 60);
  border-left: none;
  border-right: none;
  padding: 0.2rem;
  width: 100%;
}
.chatcontact .dropdown-menu{
  box-shadow: 0px 0px 10px black;
}
.chatcontactnav input{
  max-width: 13rem;
  flex-grow: 1;
  border: none;
  padding:0.5rem !important;
  padding-left: 0.8rem !important;
  border-radius: 0.7rem;
  outline-color: #3a7c35;
  background-color: #edf7fc;  
  outline-width: 10px;
}
.chatcontactnav input:focus {
  outline: 2px solid green;
}

.userconatct{
  width: 90%;
  min-height: 3rem;
  border-radius: 0.4rem;
}
.usercontactbox{
  height: 90%;
  overflow-y:scroll;

}
::-webkit-scrollbar{
  visibility: hidden;
}

.AddUserModel .modal-content{
background-color: rgb(255, 255, 255);
}

.AddUserModel-body{
  display: flex;
  justify-content: space-around;
}
.AddUserModel-body input{
border: none;
background-color: #c68e8e;
padding: 0.5rem;
border-radius: 0.3em;
outline: none;
}
.AddUserModel-body input::placeholder{
  color: white;
}

/* profile Model */
.chatpagenav .modal{
  background-color: none;
}
.profile-model-content{
  border-radius: 1rem !important;
  background: rgba(190, 185, 185, 0.318) !important;
  border-radius: 16px !important;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
  color: white !important;
}
.profile-photo{
  width: 8rem;
  height: 8rem;
  background-color: #a6afb2;
  border-radius: 50%;
  margin: auto;
}
/* Chat window */
.chatwindow {
  flex-grow: 1;
  min-width: 20rem;
  border-radius: 0.5rem;
  overflow: hidden;
  background-color: #84cdee;
}

.chatwindow .dropdown-menu{
right: -24px !important;
}
.dropdown-menu li{
  cursor: pointer;
}
.nav-chat{
  height: 100%;
  display: flex;
  flex-direction: column; 
  background-color: #84cdee;
}
.chatWindowNav {
  background-color: #b9e2f5;
  width: 100%;
  height: 12%;
}

.chat-box {
  display: flex;
  flex-direction: column;
  height: 88%;
}
.mainChats{
  background: #84cdee;
  color: white;
  width: 100%;
display: flex;
flex-direction: column;
flex-grow: 1;
  overflow-y: scroll;
scroll-behavior: smooth;
  padding: 1rem;
}
.mainChats::-webkit-scrollbar{
  display: none;
}

.mainChats .messageText{
  height: fit-content;
  width: 100%;
  padding: 0.8rem;
  position: relative;
}
.messageText p{
  overflow-wrap: break-word;
  max-width: 55%;
  height: fit-content;
  padding: 0.4em;
  border-radius: 0.4rem;
  margin: 0;
  color: black;
}
.messageText span{
  font-size: 0.8rem;
  color: #514f4f;
}
.mainChats .sendMessageStyle{
  display: flex;
  flex-direction: column;
  align-items: end;
}
.mainChats .receivedMessageStyle{
  display: flex;
  flex-direction: column;
  align-items: start;
}
.sendMessageStyle p{
  background-color: #ce5c5c;
}
.receivedMessageStyle p{
background-color: #4fa4a9;
}

/* new Message Animation */

.sendMessage{
  height: fit-content;
  min-width: 40%;
  max-width: 100%;
  padding: 0.5rem;
  background-color: #b9e2f5;
  
  input{
    outline: none;
    color: black;
    width: 85%;
    border: none;
    border-radius: 0.2rem;
    background-color: #edf7fc;
    padding: 0.3rem;
    margin-left: 0.6rem;

  }
  i{
    cursor: pointer;
    margin-right: 1rem;
  }
}
.nullChatMessage{
 width: fit-content;
 width: 100%;
 height: 100%;
 display: flex;
 flex-direction: column;
 align-items: center;
}
.nullChatMessage p{
  background-color: rgb(70, 68, 68);
  padding: 0.1rem;
  border-radius: 0.3rem;
}

.chatwindowtoggle{
  transition: 3s ease-in-out;
}
.isOnlineTag{
  position: absolute;
  width: 0.8rem;
  height: 0.8rem;
   background-color: #3a7c35;
   border-radius: 50%;
   top: -0.2rem;
   right: -0.2rem;
}
.isOfflineTag{
  position: absolute;
  width: 0.8rem;
  height: 0.8rem;
   background-color: #702f2f;
   border: 1px solid rgb(207, 128, 128);
   border-radius: 50%;
   top: -0.2rem;
   right: -0.2rem;
}

/* Chat Toogle In Mobile */
.toogleChats {
  position: absolute;
  left: -5.7rem;
  top: 45%;
  transform: translateY(-45%);
  background-color: #5a8aa0;
  width: 7rem;
  height: 7rem;
  justify-content: end;
  align-items: center;
  border-radius: 50%;
  i{
    margin-right: 5px;
  }
  cursor: pointer;
  display: none;
}




@media (max-width: 750px) {
  .main-window{
    flex-direction: column;
  }
  .menuDiv{
    padding: 2rem;
    max-width: 100%;
    flex-grow: 0 !important;
    flex-direction: row;
    justify-content: space-between;
    .menuDivContent{
      flex-direction: row;
      justify-content: space-between;
    }
    .menuBtn{
      display: block;
    }
  }
  .hr2,.hr1{
    transform: rotate(0deg) !important;
    width: 100% !important;
    height: 2px;
    margin-top: 0;
    margin-bottom: 0;
  }
  .toogleChats{
    display: flex;
  }
  /* chatcontact Customize */
  .chatcontact{
    max-width: 100%;
  }
  .formstart{
    box-shadow: none;
  backdrop-filter: none;
  border: none;
  background-color: transparent;
  }
  }
